* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: auto;
  gap: 1rem;
  background-color: rgba(242, 241, 197, 0.5);
  padding: 2rem;
  border-radius: 5px;
}

.pokemon-img__wrapper {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 0;
  z-index: 0;
  margin: 0;
}

.pokemon-txt__wrapper h2 {
  font-weight: 700;
  font-size: 2.2rem;
}

.pokemon-img__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.pokemon-txt__wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.moreBtn {
	position: fixed;
	bottom: 4rem;
	background: darkorange;
	border: none;
	padding: .5rem;
	border-radius: 5px;
	color: antiquewhite;
	font-size: 1.1rem;
	box-shadow: 0px 2px 5px #333;
  transition: all .25s;
}

.moreBtn:hover {
	background: gold;
	color: #333;
}